import React from 'react';
import './{{pascalCase name}}.css';

function {{pascalCase name}}() {
    return (
        <>
            {/* Componente {{pascalCase name}} */}
            <h1>{{pascalCase name}} Working</h1>
        </>
    );
}

export default {{pascalCase name}};
